
<div class="login-form">
    <form name="form" #f=ngForm (ngSubmit)="f.form.valid" novalidate>
        <h2 class="text-center">Sign in</h2>   
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name="username" class="form-control" [(ngModel)]="model.username" placeholder="Username" #username="ngModel" [ngClass]="{ 'is-invalid': username.invalid }" required>				
                <div *ngIf="username.invalid" class="invalid-feedback">
                    <div *ngIf="username.errors.required && username.touched">Username is Required</div>
                </div>
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"  placeholder="Email ID" [ngClass]="{ 'is-invalid': email.invalid }" required email>				
                <div *ngIf="email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required && email.touched">Email is Required</div>
                    <div *ngIf="email.errors.email && email.touched">Email Format is Wrong</div>
                </div>
            </div>
        </div>        
        <div class="form-group">
            <button type="submit"  routerLink="/quizcreate" [disabled]="f.invalid" (click)="LoginData(f.value)" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>
    </form>
</div>