.container {
    width: 800px;
    justify-content: center;
}

/* .card-body {
    background-color: whitesmoke;
}

.table-bordered {
    background-color: white;
}

.card-header {
    background-color: whitesmoke;
} */